if SHIELD_SeaSide44_R

config ZMK_KEYBOARD_NAME
    default "SeaSide44_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SeaSide44_L

config ZMK_KEYBOARD_NAME
    default "SeaSide44_L"

config ZMK_SPLIT
    default y

endif
